<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <section id="footer">
      <div class="inner">
        <header>
          <h2>Get in Touch</h2>
        </header>
       
        <div class="copyright">
          &copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>.
          Images <a href="https://unsplash.com/">Unsplash</a>
        </div>
      </div>
    </section>
  </body>
</html>
