<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <section id="footer">
    <div class="inner h-50">
      <center>
        <div>
          <p>
            <strong>Cookiez</strong> by "Ditto"<i class="em em-bug"></i>
          </p>
          <p>
            <strong>"Ditto"</strong> is a group name
            <i class="em em-baby"></i>
          </p>
          <p>
            <strong>Please support us!</strong> <i class="em em-bank"></i>
          </p>
          <p>
            Support us a cup of <strong> coffee!</strong>
            <i class="em em-coffee"></i>
          </p>
        </div>
      </center>
    </div>
  </section>

</body>

</html>