<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header id="header">
      <div class="inner">
        <a href="/index.html" class="logo"
          ><img src="/images/logo.png" width="70px" height="70px"
        /></a>
        <nav id="nav">
          <a href="/index.html">Home</a>
          <a href="/what.html">What we do</a>
          <a href="/how.html">How we do</a>
          <a href="/when.html">timetable</a>
          <!-- <a href="elements.html">Elements</a> -->
        </nav>
      </div>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
  </body>
</html>
