<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <th:block th:include="/fragment/common.html :: head"></th:block>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Step by step instructions</title>
</head>
<body>
<header th:replace="/fragment/common.html :: header"></header>
<!-- Description area-->

<!-- Ingredients area-->

<!-- Instructions area-->

<th:block th:include="/fragment/common.html :: scripts"></th:block>
<script type="text/javascript" src="/js/">
</script>
<script th:inline="javascript">

</script>
</body>
</html>