<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <th:block th:include="/fragment/common.html :: head"></th:block>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Step by step instructions</title>
    <link rel="stylesheet" href="/css/detail.css">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $("input:checkbox").click(function () {

                if($(this).is(':checked') == true){
                    $(this).next().css("text-decoration","line-through");
                }else{
                    $(this).next().css("text-decoration","none");
                }
            });
        });
    </script>

</head>
<body>
<header th:replace="/fragment/common.html :: header"></header>
<div class ="container-fluid w-60">
    <div class="row welcome ml-auto">
        <h1 class="display-4">Greek Lemon Chicken and Potatoes</h1>
        <hr>
    </div>
</div>
<!-- Description area-->
<div class="container-fluid w-60 padding">
    <div style="text-align:center" class="col-md-12">
        <img src="/images/step_sample/1.png" class="img-fluid rounded-50" id="img1">
    </div>
    <hr>
    <div class="row padding">
        <div class="col-md-12 col-lg-8">
            <div>
                <div id="author"><h3>Author: amos</h3></div>
            </div>
            <div>
                <h3>Description</h3>
                <p class="lead">I don't have the energy or courage to cater for a living but, if I did, this Greek lemon chicken and potatoes would be one of my go-to entrees, and not just for big, fat weddings. It's a proven crowd-pleaser, simple to make, and easy on the wallet. </p>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <h3>Tags</h3>
            <button type="button" class="btn btn-outline-primary ml-2 mb-2">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tag-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
                Greek
            </button>

            <button type="button" class="btn btn-outline-primary ml-2 mb-2">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tag-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
                Chicken
            </button>

            <button type="button" class="btn btn-outline-primary ml-2 mb-2">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tag-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
                Lemon
            </button>

            <button type="button" class="btn btn-outline-primary ml-2 mb-2">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tag-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
                Potato
            </button>
        </div>
    </div>
</div>

<!-- Ingredients area-->
<div class="container-fluid w-60 padding">
    <h2>Ingredients</h2>
    <hr>
    <div class="checkbox">
        <div class="custom-control custom-checkbox col-md-12 ml-5" >
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">4 pounds Chicken thighs</label>
        </div>

        <div class="custom-control custom-checkbox col-md-12 ml-5">
            <input type="checkbox" class="custom-control-input" id="customCheck2">
            <label class="custom-control-label" for="customCheck2">1/2 cup fresh Lemon juice</label>
        </div>

        <div class="custom-control custom-checkbox col-md-12 ml-5">
            <input type="checkbox" class="custom-control-input" id="customCheck3">
            <label class="custom-control-label" for="customCheck3">3 Potatoes</label>
        </div>

        <div class="custom-control custom-checkbox col-md-12 ml-5">
            <input type="checkbox" class="custom-control-input" id="customCheck4">
            <label class="custom-control-label" for="customCheck4">1 tablespoon kosher Salt</label>
        </div>
    </div>
    <hr>
</div>


<!-- Instructions area-->
<div class="container-fluid w-60 padding">
    <h2>Instructions</h2>
    <hr>
    <div class="col-md-12">
        <h4>Step 1</h4>
        <div class="row padding">
            <div class="col-md-12 col-lg-8">
                <p class="lead">
                    Preheat oven to 425 degrees F (220 degrees C). Lightly oil a
                    large roasting pan.
                </p>
            </div>
            <div class="col-md-12 col-lg-4">
                <img src="/images/step_sample/2.png" class="img-fluid">
            </div>
        </div>

        <h4>Step 2</h4>
        <div class="row padding">
            <div class="col-md-12 col-lg-8">
                <p class="lead">
                    Place chicken pieces in large bowl. Season with salt, oregano, pepper, rosemary, and cayenne pepper. Add fresh lemon juice, olive oil, and garlic. Place potatoes in bowl with the chicken; stir together until chicken and potatoes are evenly coated with marinade
                </p>
            </div>
            <div class="col-md-12 col-lg-4">
                <img src="/images/step_sample/3.png" class="img-fluid">
            </div>
        </div>

        <h4>Step 3</h4>
        <div class="row padding">
            <div class="col-md-12 col-lg-8">
                <p class="lead">
                    Transfer chicken pieces, skin side up, to prepared roasting pan, reserving marinade. Distribute potato pieces among chicken thighs. Drizzle with 2/3 cup chicken broth. Spoon remainder of marinade over chicken and potatoes.
                </p>
            </div>
            <div class="col-md-12 col-lg-4">
                <img src="/images/step_sample/4.png" class="img-fluid">
            </div>
        </div>

        <h4>Step 4</h4>
        <div class="row padding">
            <div class="col-md-12 col-lg-8">
                <p class="lead">
                    Place in preheated oven. Bake in the preheated oven for 20 minutes. Toss chicken and potatoes, keeping chicken skin side up; continue baking until chicken is browned and cooked through, about 25 minutes more. An instant-read thermometer inserted near the bone should read 165 degrees F (74 degrees C). Transfer chicken to serving platter and keep warm.
                </p>
            </div>
            <div class="col-md-12 col-lg-4">
                <img src="/images/step_sample/5.png" class="img-fluid">
            </div>
        </div>

        <h4>Step 5</h4>
        <div class="row padding">
            <div class="col-md-12 col-lg-8">
                <p class="lead">
                    Set oven to broil or highest heat setting. Toss potatoes once again in pan juices. Place pan under broiler and broil until potatoes are caramelized, about 3 minutes. Transfer potatoes to serving platter with chicken.
                </p>
            </div>
            <div class="col-md-12 col-lg-4">
                <img src="/images/step_sample/6.png" class="img-fluid">
            </div>
        </div>


        <h4>Step 6</h4>
        <div class="row padding">
            <div class="col-md-12 col-lg-8">
                <p class="lead">
                    Place roasting pan on stove over medium heat. Add a splash of broth and stir up browned bits from the bottom of the pan. Strain; spoon juices over chicken and potatoes. Top with chopped oregano.er with chicken.
                </p>
            </div>
            <div class="col-md-12 col-lg-4">
                <img src="/images/step_sample/7.png" class="img-fluid">
            </div>
        </div>

    </div>
    <hr>
</div>
<footer class="footer" th:replace="/fragment/common.html :: footer"></footer>
</body>
</html>