<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:include="fragment/common.html :: head"></th:block>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CookieZ - Edit a recipe</title>

</head>
<body>
<header th:replace="fragment/common.html :: header"></header>
<div class="container d-flex flex-column p-5 w-60">
    <input class=" mb-5 border-red-C14A4A" type="text" id="input-title" placeholder="Please enter recipe name"
           style="height:60px;" th:value="${recipeDTO.getRecipeName()}">
    <img class="bg-grad-888276 mb-3 rounded-20" id="cover" src="http://iph.href.lu/1280x1024"
         alt="" height="520" style="height:520px" th:src="@{${recipeDTO.getCoverPath()}}">
    <!--    <button class="btn bg-red-C14A4A rounded-50  w-25 ml-auto mb-5">Upload cover</button>-->
    <label class="btn custom-file-upload btn-red ml-auto">
        <input type="file" placeholder="Upload cover" id="cover-input" onchange="uploadCover(this)" accept="image/*">
        <i class="iconfont icon-LocalUpload"></i>
        Upload Cover
    </label>

    <h3>
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-description"></use>
        </svg>
        Description
    </h3>
    <textarea class="mb-5 input-area-red iconfont" placeholder="&#xedce; Describe Your Recipe" id="input-describe"
              th:text="${recipeDTO.getRecipeDescription()}"></textarea>

    <h3>
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-tagpx"></use>
        </svg>
        Tags
    </h3>
    <div th:switch="${recipeDTO.getTagsString().equals('')}">
        <div>
            <input class="input-red mb-5 iconfont w-75 input-tags" type="text" th:value="${recipeDTO.getTagsString()}"
            >
        </div>
    </div>


    <div class="d-flex flex-column ">
        <h3 class="mb-5">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-Ingredients"></use>
            </svg>
            Ingredients (Amount)
        </h3>
        <div class="d-flex flex-column mt-4 justify-content-between" id="div-ingredients">
            <div class="d-flex justify-content-between mb-4" th:id="${'ingred-'+status.count}"
                 th:each="ingredient,status:${recipeDTO.getIngredientDTOList()}">
                <input class="mr-3 input-red" type="text" th:value="${ingredient.getIngredientName()}">
                <input class="input-red" type="text" th:value="${ingredient.getAmount()}">
                <!--                TODO delIngredientEle??-->
                <button class="btn iconfont icon-x" th:id="${'ingred-remove-'+status.count}"
                        onclick="delIngredientEle(-1,this)"></button>
            </div>

        </div>


    </div>
    <button class="w-25 btn btn-red mt-2" id="btn-addIngredient"><i class="iconfont icon-cross"></i> Add an ingredient
    </button>
    <!--    Step area-->
    <div class=" d-flex flex-column mt-5 " id="div-steps">

        <div class="d-flex m-2  justify-content-between align-content-between" th:id="${'step-'+stepStatus.count}"
             th:each="step,stepStatus: ${recipeDTO.getStepDTOList()}">
            <div class="d-flex flex-column w-75 mr-3 ">
                <h4 th:text="${'Step'+step.getStepOrder()}"></h4>
                <textarea class="h-100 input-area-red iconfont" name="textarea"
                          placeholder="&#xe7c0; Add step here" th:text="${step.getStepContent()}"></textarea>
            </div>
            <div class="d-flex flex-column  ">
                <img th:id="${'img-step-'+stepStatus.count}" class="rounded-20 mb-1 mt-2"
                     alt="" width="300"
                     th:src="@{${step.getImgPath()==null?'http://iph.href.lu/1280x1024':step.imgPath}}">
                <label class="btn custom-file-upload btn-red">
                    <input th:id="${'img-input-step-'+stepStatus.count}" type="file"
                           ACCEPT="image/*" onchange="uploadStepImg(-1,this)">
                    <i class="iconfont icon-LocalUpload"></i>
                    Upload a Step Picture
                </label>
            </div>
        </div>
    </div>

    <!--    Operation Area-->
    <div class="d-flex">
        <button class="btn btn-red" id="btn-addStep"><i class="iconfont icon-cross"></i>Add a step</button>
        <button class="btn btn-red" id="btn-removeStep">Remove last step</button>
        <button class="btn btn-red ml-auto" onclick="update()"><i class="iconfont icon-submit"></i> Submit</button>
    </div>

</div>


<th:block th:include="fragment/common.html :: scripts"></th:block>
<script th:inline="javascript">
    let user = [[${user}]]
    let recipeDTO = [[${recipeDTO}]]
    console.log(user)
    let userId = user['userId']
    let recipeId = recipeDTO['id']
</script>
<script type="text/javascript" src="/js/recipe/add.js"></script>

</body>
</html>