<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:include="fragment/common.html :: head"></th:block>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Search by tags</title>

</head>
<body>
<header th:replace="fragment/common.html :: header"></header>
<div class="container d-flex justify-content-center">
    <div class="d-flex flex-column my-5 w-75 animate__fadeInRightBig animate__bounceIn">
        <div class="d-flex flex-column mt-5 mb-5 align-items-center ">
            <img src="/images/logosearch.png" alt="">
        </div>
        <label class="text-grad-888276" for="keywords">
            Separated by commas, press Enter to search
        </label>
        <div class="d-flex">
            <input class="w-75 border-green-28A745  rounded-right" name="keywords" id="keywords" type="text"
                   placeholder=" Please Enter Keywords">
           <select class="rounded-left custom-select ml-2 w-25 border-green-28A745" id="search-option">
                <option selected value="default">Default</option>
                <option value="tags">Tags</option>
                <option value="title">Title</option>
                <option value="ingredients">Ingredients</option>
            </select>
        </div>
    </div>
</div>


<div class=" container d-flex justify-content-center border-red-C14A4A flex-wrap p-4" id="cardDiv">
    <div class="w-100  row">
    </div>
</div>

<!-- Footer -->
<footer th:replace="fragment/common.html :: footer"></footer>
<th:block th:include="fragment/common.html :: scripts"></th:block>
<!--<script type="text/javascript" src="/js/">-->
<!--</script>-->
<script th:inline="javascript">

</script>
<script type="text/javascript" src="/js/search/search.js">
</script>
</body>
</html>