<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:include="/fragment/common.html :: head"></th:block>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Search by tags</title>

</head>
<body>
<header th:replace="/fragment/common.html :: header"></header>
<div class="container d-flex justify-content-center">
    <div class="d-flex flex-column my-5 w-75 animate__fadeInRightBig animate__bounceIn">
        <label for="tag_name">
            Separated by commas, press Enter to search
        </label><input class="w-50 border-green-28A745 rounded-50" name="tag_name" id="tag_name" type="text"
                                             placeholder="Search Recipes with Tags">
<!--        <button class="btn bg-red-C14A4A rounded-50 mt-5 mr-auto" onclick="handleSearchBtn(this)">-->
<!--            <i class="iconfont icon-sousuo-->
<!--                mr-1"></i>Search Recipes-->
<!--        </button>-->
    </div>
</div>

<!--
    <div class="row w-100 top-buffer">
        <div class="col py-3 m-3 w-30 px-lg-5 border-red-C14A4A">
            <h5 class="row">Regional recipes:</h5>
            <button class="btn bg-red-C14A4A rounded-50 mr-auto text-white" >
                Egg
            </button>
            <button class="btn bg-red-C14A4A rounded-50 ml-auto text-white">
                Greek
            </button>
        </div>
        <div class="col py-3 m-3 px-lg-5 w-30 border-red-C14A4A">
            <h5 class="">Seasonal recipes:</h5>
            <button class="btn bg-red-C14A4A rounded-50 mr-auto text-white">
                Chicken
            </button>
            <button class="btn bg-red-C14A4A rounded-50 ml-auto text-white">
                Greek
            </button>
        </div>
    </div>
-->

<div class=" container d-flex justify-content-center border-red-C14A4A flex-wrap p-4" id="cardDiv">
    <div class="d-flex flex-column  row">
        <h1 class="text-inkfree" style="font-size:3.2em">Please enter the keywords!</h1>
    </div>
</div>


<th:block th:include="/fragment/common.html :: scripts"></th:block>
<!--<script type="text/javascript" src="/js/">-->
<!--</script>-->
<script th:inline="javascript">

</script>
<script type="text/javascript" src="/js/tag/tags.js">
</script>
</body>
</html>