<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:include="/fragment/common.html :: head"></th:block>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Search by tags</title>

</head>
<body>
<header th:replace="/fragment/common.html :: header"></header>
<div class="container d-flex justify-content-center">
    <div class="row my-5 w-75 animate__fadeInRightBig animate__bounceIn">
    <!--    <form action="/tags/search" method="post" id="tagForm">-->
            <input class="w-50 border-green-28A745 rounded-50" id="tag_name" type="text"
                   placeholder="Type something for searching">
            <button class="btn bg-red-C14A4A rounded-50  ml-auto" onclick="handleSearchBtn(this)">
                <i class="iconfont icon-sousuo
                mr-1"></i>Search Recipes</button>
        <!-- </form> -->
    </div>
</div>

<div class="container w-65 px-lg-5 d-flex flex-column align-items-center">
    <div class="row w-100 top-buffer">
        <div class="col py-3 m-3 w-30 px-lg-5 border-red-C14A4A">
            <h5 class="row">Regional recipes:</h5>
            <button class="btn bg-red-C14A4A rounded-50 mr-auto text-white" >
                Egg
            </button>
            <button class="btn bg-red-C14A4A rounded-50 ml-auto text-white">
                Greek
            </button>
        </div>
        <div class="col py-3 m-3 px-lg-5 w-30 border-red-C14A4A">
            <h5 class="">Seasonal recipes:</h5>
            <button class="btn bg-red-C14A4A rounded-50 mr-auto text-white">
                Chicken
            </button>
            <button class="btn bg-red-C14A4A rounded-50 ml-auto text-white">
                Greek
            </button>
        </div>
    </div>

    <div>
        <tr th:each="recipe : ${recipes}">
            <div class="col-sm-4 ">
                <div class="card" style="width: 225px;  margin: center;">
                    <div class="card-body">=
                        <img th:src="@{'/static/images'+${recipe.cover}}" class="card-img-top" id="recipeCover"/>
                        <td th:text="${recipe.title}" class="card-title">Recipe title</td>
                        <td th:text="${recipe.author}" class="card-text">Recipe author</td>
                    </div>
                </div>
            </div>
        </tr>
    </div>

</div>


<th:block th:include="/fragment/common.html :: scripts"></th:block>
<!--<script type="text/javascript" src="/js/">-->
<!--</script>-->
<script th:inline="javascript">

</script>
<script ype="text/javascript" src="/js/tag/tags.js">

</script>
</body>
</html>