<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:include="/fragment/common.html :: head"></th:block>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Search by tags</title>

</head>
<body>
<header th:replace="/fragment/common.html :: header"></header>
<div class="container d-flex justify-content-center">
    <div class="row my-5 w-75 animate__fadeInRightBig animate__bounceIn">
        <input class="form-control mr-sm-2 border-green-28A745 rounded-50" id="tableSearch" type="text"
               placeholder="Type something to search list items">
    </div>
</div>

<div class="container d-flex flex-column  align-items-center">
    <div class="d-flex flex-column my-10 mb-5 align-items-center ">
    </div>
    <div class="d-flex w-100 mb-5" >
        <form class="form-inline mx-2 my-lg-0 ">
            <input class="form-control mr-sm-2 border-green-28A745 rounded-50 " style="width:10em" type="Enter ingredients" placeholder="Enter ingredients" aria-label="Enter ingredients">
        </form>
        <h4 class="text-dark ml-auto">My ingredients</h4>
        <button class="btn bg-red-C14A4A rounded-50  ml-auto" href="#"><i class="iconfont icon-sousuo mr-1"></i>Search Recipes</button>
    </div>
    <div class="d-flex w-100  h-100 p-4 justify-content-around mb-5  border-red-C14A4A" >
        <button class="btn bg-success rounded-50  mr-auto text-white" href="#">Chicken  <i class="iconfont icon-x mr-1"></i></button>

    </div>
</div>

<div class="container w-65 d-flex">
        <div class="row my-4 w-100 d-flex animate__fadeInLeftBig animate__bounceIn" >
            <div class="d-flex w-15 p-3 justify-content-around mb-5 border-red-C14A4A ">
                <h5 class="">Regional recipes:</h5>
                <button class="btn bg-red-C14A4A rounded-50  mr-auto text-white" href="#">
                    Chicken
                </button>
                <button type="button" class="btn btn-outline-primary ml-2 mb-2">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tag-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg>
                    Greek
                </button>
                <button type="button" class="btn btn-outline-primary ml-2 mb-2">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tag-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg>
                    Greek
                </button>

            </div>

            <div class="d-flex w-15  h-100 p-3 justify-content-around mb-5  border-red-C14A4A ">
                <h5 class="">Seasonal recipes:</h5>
                <button type="button" class="btn btn-outline-primary ml-2 mb-2">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tag-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg>
                    Greek
                </button>
                <button type="button" class="btn btn-outline-primary ml-2 mb-2">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tag-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg>
                    Greek
                </button>
                <button type="button" class="btn btn-outline-primary ml-2 mb-2">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tag-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg>
                    Greek
                </button>
            </div>
        </div>
</div>

<div class="container px-lg-5 d-flex">
    <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5">
            Custom column padding
        </div>
        <div class="col py-3 px-lg-5">
            Custom column padding
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center">
    <div class="row my-5 w-85 animate__fadeInRightBig animate__bounceIn">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@mail.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@greatstuff.com</td>
            </tr>
            <tr>
                <td>Anja</td>
                <td>Ravendale</td>
                <td>a_r@test.com</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<th:block th:include="/fragment/common.html :: scripts"></th:block>
<!--<script type="text/javascript" src="/js/">-->
<!--</script>-->
<script th:inline="javascript">

</script>
<script ype="text/javascript" src="/js/tag/tags.js">

</script>
</body>
</html>