<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:include="/fragment/common.html :: head"></th:block>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Cookiez!</title>

</head>
<!-- Header -->
<header th:replace="/fragment/common.html :: header"></header>

<!-- Banner -->
<div class="container d-flex justify-content-center">
    <div class="row my-5 w-85 animate__fadeInRightBig animate__bounceIn">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="/recipe/36"> <img src="https://cookiez-img2.s3.amazonaws.com/images/recipes/36/cover.jpg"
                                                class="d-block  " height="500"  alt="">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/recipe/43"> <img src="https://cookiez-img.s3.amazonaws.com/images/recipes/43/cover.jpg"
                                                class=" d-block "  height="500"  alt="">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/recipe/40"> <img src="https://cookiez-img.s3.amazonaws.com/images/recipes/40/cover.png"
                                                class=" d-block " height="500"  alt="">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/recipe/41"> <img src="https://cookiez-img.s3.amazonaws.com/images/recipes/41/cover.jpg"
                                                class="d-block  " height="500" alt="">
                    </a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center">
    <div class="row w-85">

        <div class="col-sm-3 m-2" th:each="vo:${voList}">
            <a th:href="@{${vo.url}}">
                <div class="p-3  d-flex flex-column shadow-sm rounded-10 shadow-0-2-4 ">
                    <img class="rounded-20 " th:src="@{${vo.coverPath==null?'/images/logo.png':vo.coverPath}}" alt="">
                    <span style="font-size: 20px" th:text="${vo.recipeName}"></span>
                    <p style="font-size: 14px;color: #6b6668;"
                       th:text="${#strings.abbreviate(vo.recipeDescription,100) }">Cooking a perfect batch of
                        white rice without a rice ... </p>
                    <span class="d-flex"> <span
                            class="ml-auto" style="font-size: 13px" th:text="${'By '+vo.author}"> Zhihao Liang</span>
                </span>
                </div>
            </a>
        </div>


    </div>
</div>


<!-- Footer -->
<footer th:replace="/fragment/common.html :: footer"></footer>

<th:block th:include="/fragment/common.html :: scripts"></th:block>

<script type="text/javascript" src="/js/index.js">
</script>

</body>
</html>