<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:include="/fragment/common.html :: head"></th:block>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cookiez Pantry</title>

</head>
<body>
<header th:replace="/fragment/common.html :: header"></header>

<div class="container d-flex flex-column  align-items-center">
    <div class="d-flex flex-column mt-5 mb-5 align-items-center animate__fadeInLeftBig animate__bounceIn">
        <img src="/images/logowhat.png" alt="">
    </div>
    <div class="d-flex flex-column  mb-5 align-items-center animate__fadeInLeftBig animate__bounceIn">
        <label for="input-ingredient" class="text-grad-888276 mr-auto">Press Enter for searching</label>
        <div class="d-flex">
            <input class="border-green-28A745 rounded-20 input-red mr-3" id="input-ingredient"
                   type="text" style="width: 40em"
                   placeholder="Enter an ingredient">
            <h3 >
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-chaxun"></use>
                </svg>
            </h3>
        </div>



    </div>

    <div class="row">
        <!--        <button class="btn mr-auto btn-danger" onclick="clearAllResults()">Clear All Results</button>-->
        <!--        <button class="btn mr-auto btn-danger" onclick="clearIngredients()">Clear All Ingredients</button>-->
        <h2 class="text-dark text-center">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-Ingredients"></use>
            </svg>
            My ingredients
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-Ingredients"></use>
            </svg>
        </h2>
    </div>

    <div id="div-ingredient" class="d-flex flex-wrap w-100  h-100 p-4  mb-5  border-red-C14A4A">

    </div>

    <div class="row w-100" id="cardDiv"></div>
</div>
<footer th:replace="/fragment/common.html :: footer"></footer>
<th:block th:include="/fragment/common.html :: scripts"></th:block>
<script type="text/javascript" src="/js/pantry/show.js">
</script>
</body>
</html>