<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:include="/fragment/common.html :: head"></th:block>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cookiez - login</title>

</head>
<body>
<header th:replace="/fragment/common.html :: header"></header>

<div class="container d-flex justify-content-center">
    <div class="row my-5 w-75 animate__fadeInRightBig animate__bounceIn">
        <div class="col-4 bg-red-C14A4A   rounded-right bg-red- d-flex flex-column align-items-center text-center text-white justify-content-around">

            <h2>Hello, Friend!</h2>
            <p>Enter your personal details and start journey with us



            </p>
            <a class="rounded-lg w-75 btn btn-outline-light" href="/register">Here to create an account</a>
        </div>
        <div class="col-8 shadow-lg d-flex flex-column p-5 rounded-left align-items-center">
            <h1 class="title mb-5 font-comic animate__bounceIn">
                Sign in to Cookiez
            </h1>
            <div class="d-flex justify-content-center" id="loading" >
                <div class="spinner-border  d-none" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="w-75">
                <div class="form-group  ">
                    <label for="username"><i class="fa fa-user"></i> Username</label>
                    <input type="text" class="form-control" name="username" id="username"
                           placeholder="Email or Username">
                </div>

                <div class="form-group">
                    <label for="password"> <i class="fa fa-lock"></i>Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
                <button class="btn btn-light" onclick="handleLoginBtn(this)">LOGIN</button>
            </div>
        </div>

    </div>


</div>


<th:block th:include="/fragment/common.html :: scripts"></th:block>

<script type="text/javascript" src="/js/user/login.js">
</script>
</body>
</html>