<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:include="/fragment/common.html :: head"></th:block>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cookiez - Profile</title>

</head>
<body>
<header th:replace="/fragment/common.html :: header"></header>
<div class="container d-flex  justify-content-center">
    <div class="d-flex flex-column w-75 my-5 align-items-center">
        <h2 class="font-comic">My profile</h2>
        <!--     TODO   Need prefect distance between icon and input-->
        <div class="d-flex flex-column shadow-lg  my-3 p-5 rounded-20" style="width:60%;">
            <div class="text-center my-3 d-flex flex-column align-items-center">
                <img th:src="@{${user.getAvatarPath()!=null?user.getAvatarPath():'/images/avatar.jpg'}}" class="rounded-circle shadow-sm" alt="..." width="200" id="img-avatar" >
                <label class="btn custom-file-upload btn-red mt-3">
                    <input type="file" placeholder="Upload cover" onchange="uploadAvatar(this)" id="input-avatar"
                           accept="image/jpg,image/jpeg,image/png,image/PNG">
                    <i class="iconfont icon-LocalUpload"></i>
                    Upload Avatar
                </label>
            </div>
            <div class="form-group">
                <label for="username" class="mt-auto"> Username</label>
                <input type="text" class="form-control rounded-pill mb-4" id="username" th:value="${user.username}" >
                <label for="oldPassword">Old Password</label>
                <input type="password" class="form-control rounded-pill iconfont" id="oldPassword" placeholder="&#xe672;">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control rounded-pill iconfont" id="newPassword" placeholder="&#xe672;">
            </div>
            <button class="btn bg-red-C14A4A rounded-50 ml-auto w-25" onclick="saveProfile()"> Save<i class="iconfont icon-rightarrow ml-2"></i>
            </button>

        </div>

    </div>

</div>


<th:block th:include="/fragment/common.html :: scripts"></th:block>
<script th:inline="javascript">
let user=[[${user}]]
let userId=user['userId'];
</script>
<script type="text/javascript" src="/js/user/profile.js">
</script>

</body>
</html>