<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:include="/fragment/common.html :: head"></th:block>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cookiez - Save</title>

</head>
<body>
<header th:replace="/fragment/common.html :: header"></header>

<div class="container d-flex flex-column align-items-center">
    <div class="d-flex flex-column my-5 align-items-center">
        <div class="text-center my-3">
            <img src="/images/avatar.jpg" class="rounded-circle shadow-sm" alt="..." width="150" height="150">
        </div>
        <h2 class="text-grad-888276 ">Admin's Kitchen</h2>
        <div class="my-2">
            <a href="/user/profile" class="btn bg-red-C14A4A rounded-50  mx-2"><i class="iconfont icon-pencil"></i> Edit Profile
            </a>
            <button class=" btn bg-red-C14A4A rounded-50  mx-2"><i class="iconfont icon-cross"></i>Add a recipe</button>
        </div>

    </div>
    <div id="options" class="d-flex w-100  mb-4">
        <a class="btn  rounded-left " href="/user/kitchen"><i class="iconfont icon-cook"></i> Created
            recipes</a>
        <button class="btn bg-success  mr-auto rounded-right " disabled><i class="iconfont icon-bookmarks"></i> Saves</button>
        <a class="btn bg-red-C14A4A rounded-50 ml-auto" href="#"><i class="iconfont icon-lanzi mr-1"></i>Go to
            pantry</a>
    </div>
    <div id="cards-container" class="d-flex w-100 shadow-sm h-100 p-4 justify-content-around mb-5 border-danger">
        <div class="card shadow-2-2-5 p-2 rounded-20" style="width: 40%">
            <div class="d-flex">
                <img src="/images/pasted.png" class="rounded shadow-2-2-5 m-2" alt="" width="200px" height="130px">
                <div class="d-flex flex-column">
                    <h2>Title</h2>
                    <p> description</p>

                </div>
            </div>
            <div class="ml-2">
<!--                TODO add icon for "see more"-->
                <button class="btn bg-red-C14A4A rounded-50 "><i class="iconfont icon-eye"></i> See More</button>

                <button class="btn btn-light ml-auto bg-grad-888276" disabled><i class="iconfont icon-entypocalendar mr-1"></i>01.10.2050</button>
            </div>
        </div>
        <div class="card shadow-2-2-5 p-2 rounded-20" style="width: 40%">
            <div class="d-flex">
                <img src="/images/pasted.png" class="rounded shadow-2-2-5 m-2" alt="" width="200px" height="130px">
                <div class="d-flex flex-column">
                    <h2>Title</h2>
                    <p> description</p>

                </div>
            </div>
            <div class="ml-2">
                <!--                TODO add icon for "see more"-->
                <button class="btn bg-red-C14A4A rounded-50 "><i class="iconfont icon-eye mr-1"></i> See More</button>

                <button class="btn btn-light ml-auto bg-grad-888276" disabled><i class="iconfont icon-entypocalendar mr-1"></i>01.10.2050</button>
            </div>
        </div>
    </div>
</div>

<th:block th:include="/fragment/common.html :: scripts"></th:block>
<!--<script type="text/javascript" src="/js/">-->
<!--</script>-->
<script th:inline="javascript">

</script>
</body>
</html>