
.bg-red-C14A4A {
    color: white;
    background-color: #C14A4A;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    cursor: pointer;
}

.text-grad-888276 {

    color: #888276;
}

textarea, input {
    resize: none;
    outline: none;
}

label {
    font-family: 'OrkneyRegular';
    font-weight: normal;
    font-style: normal;
}

.font-orkney {
    font-family: 'OrkneyRegular';
    font-weight: normal;
    font-style: normal;
}

#input-title::placeholder {
    font-size: large;
    font-family: 'ComicReliefRegular';
    font-weight: normal;
    font-style: normal;
}

.box {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid currentcolor;
    border-radius: 3px;
    font-size: 30px;
    color: rgba(200, 200, 200, 0.5);
    padding: 1em;
    margin-bottom: .25em;
    vertical-align: top;
    -webkit-transition: .3s color, .3s border;
    transition: .3s color, .3s border;
}

.loader-01 {
    border: .2em dotted currentcolor;
    border-radius: 50%;
    -webkit-animation: 1s loader-01 linear infinite;
    animation: 1s loader-01 linear infinite;
}

.bg-grad-888276 {

    background-color: #888276;
}

.input-red {
    height: 40px;
    width: 40%;
    border-radius: 10px;
    border: 3px #C14A4A solid;

    box-shadow: 2px 2px 5px #888888;
}

.input-area-red {

    border-radius: 10px;
    border: 3px #C14A4A solid;

    box-shadow: 2px 2px 5px #888888;
}

.btn-red {
    color: white;
    background-color: #C14A4A;
    border-radius: 50px;
    box-shadow: 2px 2px 5px #888888;
}

.border-red-C14A4A {
    border: 3px #C14A4A solid;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #888888;
}

.border-green-28A745 {
    border: 3px #28A745 solid;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #888888;
}

.rounded-50 {
    border-radius: 50px;
    box-shadow: 2px 2px 5px #888888;
}

.rounded-20 {
    border-radius: 20px;
}

.rounded-10 {
    border-radius: 10px;
}

.shadow-2-2-5 {
    box-shadow: 2px 2px 5px #888888;
}

a, a:hover, a:active, a:visited, a:link, a:focus {

    outline: none;
    text-decoration: none;

}

.shadow-0-2-4 {
    box-shadow: 0 2px 4px #888888;
}

.navbar {
    background-color: #C14A4A;
}

.font-comic {
    font-family: 'ComicReliefRegular';
    font-weight: normal;
    font-style: normal;
}

.btn-outline-danger {
    color: white;
}

.navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-nav .nav-item:hover .nav-link {
    color: salmon;
}

.footer {
    background-color: #E5474B;
    margin-top: 200px;
}

.w-60 {
    width: 60%;
}

.my-10 {
    margin-top: 12rem !important
}

.text-inkfree {
    font-family: "Ink Free"
}











