@font-face {
    font-family: 'iconfont';  /* project id 2076991 */
    src: url('//at.alicdn.com/t/font_2076991_mpdgzq7ehg.eot');
    src: url('//at.alicdn.com/t/font_2076991_mpdgzq7ehg.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2076991_mpdgzq7ehg.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2076991_mpdgzq7ehg.woff') format('woff'),
    url('//at.alicdn.com/t/font_2076991_mpdgzq7ehg.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2076991_mpdgzq7ehg.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bin:before {
    content: "\e603";
}

.icon-tag:before {
    content: "\e618";
}

.icon-lanzi:before {
    content: "\e6ca";
}

.icon-pen:before {
    content: "\edce";
}

.icon-xihuan:before {
    content: "\e67f";
}

.icon-bookmarks:before {
    content: "\e663";
}

.icon-x:before {
    content: "\e659";
}

.icon-like:before {
    content: "\e602";
}

.icon-tip:before {
    content: "\e684";
}

.icon-seeuser:before {
    content: "\e601";
}

.icon-user:before {
    content: "\e604";
}

.icon-search1:before {
    content: "\e605";
}

.icon-xuanzhongshangcheng:before {
    content: "\e606";
}

.icon-cook:before {
    content: "\e66d";
}

.icon-bookmarks1:before {
    content: "\e9db";
}

.icon-cross:before {
    content: "\e600";
}

.icon-pencil:before {
    content: "\e7c0";
}